
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.page{
    padding: 0px;
}

.navigationBar{
   
    background-color: black;
    font: 300;
    color: white;
    height:  40px;
}
.hamburger{
    color: white;
    padding-right: 10px;
}
.logo{
    font-weight: 500;
    font-size: large ;
    margin: 0px 5px 0px 5px;
}
.TitleContainer{
    color: white;
    height: 100%;
    background-color: rgb(50,50,55);
    word-break:"break-word" ;
}
.ActivateBtn{
    background-color: rgb(137,196,2);
    padding:  8px;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}
title-detail{
    word-break:"break-all" ;
}
.biiling-detail{
    margin-top: 50px;
padding: 20px;
}
.detail-card{
   
   width: 500px;
}
.detail-card-footer{
    height: 50px;
}


.imagine-possibilities{
    background-color: rgb(244,244,244);
    border: 1px solid green;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .detail-card {
      width: 100%;
    }
  }