
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.page{
    padding: 0px;
}

.navigationBar{
   
    background-color: black;
    font: 300;
    color: white;
    height:  40px;
}
.hamburger{
    color: white;
    padding-right: 10px;
}
.logo{
    font-weight: 500;
    font-size: large ;
    margin: 0px 5px 0px 5px;
}
.TitleContainer{
    color: white;
    height: 100%;
    background-color: rgb(50,50,55);
    word-break:"break-word" ;
}
.ActivateBtn{
    background-color: rgb(137,196,2);
    padding:  8px;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}
title-detail{
    word-break:"break-all" ;
}
.biiling-detail{
    margin-top: 50px;
padding: 20px;
}
.detail-card{
   
   width: 500px;
}
.detail-card-footer{
    height: 50px;
}


.imagine-possibilities{
    background-color: rgb(244,244,244);
    
    padding: 50px 0px 50px 0px;
}
.possibilitiesDiv{
    margin: 10px 0px 10px 0px;
}
.possibility-card{
    margin: 5px;
    padding: 2px;
}
.possibility-card{
    margin: 20px 1px 20px 1px;
}


.benefitsBtn{
    padding: 10px;
    background-color: rgb(0,120,212);
    color: white;
    font-weight: 500;
    font-size: medium;
}


.ExploreProducts{
    /* border: 1px solid green; */
    text-align: center;
    padding: 50px 5px 50px 5px;
}

.productCard{
    text-align: left;
    width: 300px;
    margin:5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    border: 1px solid rgb(234,235,236);
}

.productTitleDiv{
    background-color: rgb(234,235,236);
}

.costPrice{
    margin-top: 20px;
    margin-left: 5px;
}
.productDetail{
    margin-left: 5px;
}

.footer{
    background-color: rgb(26,26,31);
    
}

.social-media{
    margin: 10px 5px 10px 5px;
}
.footer-title{
    color: white;
}
.social-media-icon{
    display: flex;
    flex-direction: column;
    color: rgb(78,88,93);
}

.footer-items{
    margin: 10px 5px 10px 5px;
    width: 300px;
}
.item{
    color: rgb(83,83,84);
    list-style: none;
}
.item>ul{
    list-style: none;
    padding: 0;
}

.copy-right{
    color: white;
    font-size: smaller;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .detail-card {
      width: 100%;
    }

    .productCard {
        width: 100%;
      }

      .social-media-icon{
        display: flex;
        flex-direction: row;
    }
    .footer-items{
        margin: 10px 5px 10px 5px;
        width: 100%;
    }
  }